:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(0, 0%, 0%);

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* START HEADER */

/* header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--clr-primary);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid var(--clr-secondary);
  padding: 0.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--font-primary);
  font-size: 2rem;
  text-transform: uppercase;
}

.logo-img {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0;
}

.navbar-list {
  display: flex;
}

.navbar-links {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  margin-left: 1em;
  position: relative;
}
.navbar-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  border-bottom: 2px solid var(--clr-secondary);
  transition: 0.5s;
}

.navbar-links:hover::after {
  width: 100%;
  left: 0%;
} */

/* END HEADER */

/* START HEADER */

header {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo-img {
  margin: auto;
  width: 24px;
  height: 24px;
  display: none;
}

.logo-text {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 1.5rem;
  padding: 0.5em 0;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--clr-secondary);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
  background: var(--clr-primary);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  color: var(--clr-secondary);
  font-family: var(--font-secondary);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: red;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/* END HEADER */

/* START MAIN */

.category-title {
  display: inline-block;
  position: relative;
  font-family: var(--font-primary);
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border-radius: 0.3em;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0 1rem;
  margin: 1rem 0;
}

img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
img:hover {
  filter: saturate(1.25);
}

.image-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .image-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* END MAIN */
