:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(0, 0%, 0%);

  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* START HEADER */

header {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  text-align: center;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1000;
}

.logo-img {
  margin: auto;
  width: 24px;
  height: 24px;
  display: none;
}

.logo-text {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 1.5rem;
  padding: 0.5em 0;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: 1em;
  margin-right: 0.45rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--clr-secondary);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100%;
  left: 0;
  background: var(--clr-primary);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  color: var(--clr-secondary);
  font-family: var(--font-secondary);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: red;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo-text {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: -0.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}
/* END HEADER */

/* START MAIN */

.category-title {
  display: inline-block;
  position: relative;
  font-family: var(--font-primary);
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border-radius: 0.3em;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0 1rem;
  margin: 1rem 1rem;
}

img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
img:hover {
  filter: saturate(1.25);
}

.image-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .image-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* END MAIN */
